body {
  height: 100vh;
  display: flex;
  align-items: center;
}

.parent {
  margin: 0 auto;

  border: 4px solid #EAE2B7;

  width: 70%;
  height: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}


.square {
  height: 100px;
  width: 100px;

  border-radius: 50%;
}


.square-orange {
  background-color: #F77F00;
}

.square-blue {
  background-color: #003049;
}

.square-yellow {
  background-color: #FCBF49;
}